<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>File Upload Ajax</title>
</head>
<body>
	<h1>File Upload Ajax TEST</h1>
	<hr>
	<div class="uplaodDiv">
		<input type="file" name="uploadFile" multiple style="width: 200px;">
	</div>
	<hr>
	<div class="uploadResult">
		<ul>
			<li>File1</li>
			<li>File2</li>
		</ul>
	</div>
	
	<button id="uploadBtn" style="width: 200px;">Submit</button>
</body>
<!-- <script src="/js/jquery-3.7.1.js">
</script> -->
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
$("#uploadBtn").on("click", function(e){
	console.log("Upload Button Clicked");
	
	let inputFile = $("input[name='uploadFile']");
	let files = inputFile[0].files;
	console.log(files);
	
	// FormData를 이용하여 전송 : 데이터에 file 추가
	let formData = new FormData();
	
	for(let i = 0 ; i<files.length; i++){
		// 1. file이 업로드 가능한지 체크
		if(checkFile(files[i].name, files[i].size) == false){
			return;
		}
		
		// 2. formData에 추가
		formData.append("uploadFile", files[i]);
		console.log("Append FormDATA OK");
	}
	console.log(formData);
	
	$.ajax({
		url: "uploadAjaxAction",
		processData: false,
		contentType: false,
		data: formData,
		type: "POST",
		success: function(result){
			alert("file upload OK!")
			console.log(result);
		}
	})
});

// 파일 체크 : 업로드 가능=true, 업로드 불가능= false
function checkFile(filename, filesize){
	// 1. file size 제한
	let MAXSIZE = 500000000;
	
	if(filesize > MAXSIZE){
		alert("파일 사이즈가 50메가 이하여야 가능합니다.")
		return false;
	}
	
	// 2. file extension 체크
	let RULE = new RegExp("(.*?)\.(exe|sh|zip|alz)$");
	
	if(RULE.test(filename)){
		alert("이 확장자는 업로드 불가합니다.")
		return false;
	}
	return true;
}
</script>
</html>