<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 연결할 인터페이스 경로를 namespace에 작성 -->
<configuration>
	<typeAliases>
		<typeAlias alias="boardVO" type="com.mega.board.bean.BoardVO"></typeAlias>
		<typeAlias alias="attachFileVO" type="com.mega.board.bean.AttachFileVO"></typeAlias>
	</typeAliases>
</configuration>
