<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>GET</title>
</head>
<body>
	<form action="/board/remove">
		제목 : <input type="text" th:field="${board.title}" readonly><br><br>
		내용 : <input type="text" th:field="${board.content}" readonly><br><br>
		저자 : <input type="text" th:field="${board.writer}" readonly><br><br>
		<input type="hidden" name="bno" th:field="${board.bno}">
		<button>삭제하기</button> 
		<input type="button" onclick="goUpdate()">
	</form>
</body>
<script th:inline="javascript">
	function goUpdate(){
		let bno = [[${board.getBno()}]];
		location.href = "/board/modify?bno=" + bno;
	}

</script>

</html>