<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Board 게시판 글쓰기</title>
</head>
<body>
<form id="registForm" action="/board/write" method="post">
		제목 : <input type="text" name="title"> <br><br>
		내용 : <input type="text" name="content"> <br><br>
		저자 : <input type="text" name="writer"> <br><br>
	
	<hr>
	<div class="uplaodDiv">
		<input type="file" name="uploadFile" multiple style="width: 200px;">
		<!-- <button id="uploadBtn" style="width: 70px;">Submit</button> -->
	</div>
	<hr>
	<div class="uploadResult">
		<ul>
			<!-- 
			<li>File1</li>
			<li>File2</li>
			 -->
		</ul>
	</div>
	
	<!-- <button id="uploadBtn" style="width: 200px;">Submit</button> -->
		
		
		<input type="submit" value="작성완료">
</form>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
// $("#uploadBtn").on("click", function(e){
	
	$("input[type='file']").change(function(e){
	
	e.preventDefault(); // 원래 하고자하는 제풀 동작을 하면 안됨
	console.log("Upload Button Clicked");
	
	let inputFile = $("input[name='uploadFile']");
	let files = inputFile[0].files;
	console.log(files);
	
	// FormData를 이용하여 전송 : 데이터에 file 추가
	let formData = new FormData();
	
	for(let i = 0 ; i<files.length; i++){
		// 1. file이 업로드 가능한지 체크
		if(checkFile(files[i].name, files[i].size) == false){
			return;
		}
		
		// 2. formData에 추가
		formData.append("uploadFile", files[i]);
		console.log("Append FormDATA OK");
	}
	console.log(formData);
	
	$.ajax({
		url: "/upload/uploadAjaxAction",
		processData: false,
		contentType: false,
		data: formData,
		type: "POST",
		success: function(result){
			alert("file upload OK!")
			console.log(result);
			inputFile.val(""); // 파일 보낸 후 초기화
			showUploadFile(result);
		}
	})
});

// 파일 체크 : 업로드 가능=true, 업로드 불가능= false
function checkFile(filename, filesize){
	// 1. file size 제한
	let MAXSIZE = 500000000;
	
	if(filesize > MAXSIZE){
		alert("파일 사이즈가 50메가 이하여야 가능합니다.")
		return false;
	}
	
	// 2. file extension 체크
	let RULE = new RegExp("(.*?)\.(exe|sh|zip|alz)$");
	
	if(RULE.test(filename)){
		alert("이 확장자는 업로드 불가합니다.")
		return false;
	}
	return true;
}



function showUploadFile(fileArray){
	let uploadResult = $(".uploadResult ul");
	
	// 초기화 
	let str = "";
	
	$(fileArray).each(function(i, obj){ // 첫번쨰 index, 두번쨰 내용
		console.log("파일의 index : "+i);
		console.log("파일의 index 와 obj: "+i,obj);
		
		if(obj.image){
			str +="<li data-path='"+obj.uploadPath+ "' ";
			str +="		data-uuid='" + obj.uuid + "' ";
			str +="		data-filename='" + obj.fileName + "' ";
			str +="		data-type='" + obj.image + "' >";
			str +="<img src='/img/image.png' width='32px'>"+obj.fileName+"</li>"
			//console.log(str);
		} else {
			str +="<li data-path='"+obj.uploadPath+ "' ";
			str +="		data-uuid='" + obj.uuid + "' ";
			str +="		data-filename='" + obj.fileName + "' ";
			str +="		data-type='" + obj.image + "' >";
			str +="<img src='/img/attach.png' width='32px'>"+obj.fileName+"</li>"
			//console.log(str);
		}
	});
	
	uploadResult.append(str);
	
}

	$("input[type='submit']").on("click", function(e){
		e.preventDefault();
		let form = $("form#registForm");
		let str="";
		
		$(".uploadResult ul li").each(function(i, obj){
			console.log(i +"번째 데이터");
			
			
			// $(obj).data("filename") => obj 속성 중 data-filename을 가져옴(data라는 함수가 jquery에 존재)
			console.log($(obj).data("filename"));
			console.log($(obj).data("uuid"));
			console.log($(obj).data("path"));
			console.log($(obj).data("type")); // 이미지 여부
			
			let fileName = $(obj).data("filename");
			let uuid= $(obj).data("uuid");
			let uploadPath = $(obj).data("path");
			let img = $(obj).data("type");
			// form은 name이 있어야 감!!!!
			
			// <input type='hidden' name='attachList[0].fileName' value = 'aaa.jpe'>
			str += "<input type='hidden' name='attachList["+i+"].fileName' "
				 		+ "value='" +fileName + "'>";
	 		str += "<input type='hidden' name='attachList["+i+"].uuid' "
	 		+ "value='" +uuid + "'>";				 		
	 		str += "<input type='hidden' name='attachList["+i+"].uploadPath' "
	 		+ "value='" +uploadPath + "'>";		
	 		str += "<input type='hidden' name='attachList["+i+"].image' "
	 		+ "value='" +img + "'>";		
		});
		
		form.append(str);
		console.log("@@@@@ : "+str);
		form.submit();
	})
</script>

</html>