<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 연결할 인터페이스 경로를 namespace에 작성 -->
<mapper namespace="com.mega.board.mapper.AttachFileMapper">
	<insert id ="insert">
		INSERT INTO tbl_attach(filename, uuid, uploadpath, image, bno)
		values(#{fileName}, #{uuid}, #{uploadPath}, #{image}, #{bno})
	</insert>
	
	<select id="findByBno" resultType="attachFileVO"> <!--  config에 resulttype명 넣어줘야 됨 --> 
		SELECT * FROM TBL_ATTACH WHERE BNO = #{bno}
	</select>
</mapper>
